h1{
    text-align: center;
    font-family: Kablammo, cursive;
}
.menu-index{
    text-align: center;
    transition: 1s;
    background-color: rgb(191, 218, 255);
    margin: 2px;
    padding: 8px;
    text-decoration:none  ;
    transition: 1s;
}
a{
text-decoration: none;
    font-family: Kablammo, cursive;
    transition: 0.5s;
    color: rgb(6, 1, 111);
}
a:hover{
    letter-spacing: 3px;
}
img{
    width: 80%;
    margin: 20px
}